@charset "UTF-8";

@font-face {
    font-family: muthiara;
    src: url(./assets/muthiara/Muthiara\ demo\ version.otf);
}

:root{
    --cor1: #fff3ef;
    --cor2: #ffb51f;
    --cor3: #fe470a;
    --cor4: #ffe4b3;
    --cor5: #ff789f;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff3e3;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-top: -50px;
    font-family: muthiara;
    font-size: 4em;
    background-image: linear-gradient(to right, #fe470a,#ffe4b3, #ff789f);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#calculadora{
    width: 200px;
    background-color: #fff3e3;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: var(--cor2);
}

#displayInput{
    text-align: center;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--cor4);
    height: 90%;
    font-size: 20px;
}

#teclado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    height: 60px;
    border: none;
    font-size: 2rem;
    transform: .3s;
    cursor: pointer;
}

button:hover{
    background-color: #ccc6c6;
}

.num, .ponto, .igual{
    color: #333;
}

.num{
    background-color: var(--cor5);
    color: var(--cor4);
}

.ponto{
    background-color: var(--cor4);
    color: var(--cor5);
}

.igual{
    background-color: var(--cor4);
    color: var(--cor5);
}

.operador{
    background-color: var(--cor4);
    color: var(--cor5);
}

.reset button{
    width: 100%;
    border-top: 5px solid #fff3e3;
    background-color: var(--cor5);
    color: var(--cor4);
}
